export(fit.control)
export(mkqr.fit)
export(mkqr.bea)
export(kinkTest)
import(quantreg)
importFrom(stats,rnorm)
importFrom(stats,qnorm)
importFrom(stats,dnorm)
importFrom(stats,rbinom)
importFrom(stats,quantile)
importFrom(stats,coef,fitted,fitted.values,residuals,runif)
importFrom(utils,flush.console)
